<div class="jumbotron">
	<h3><b>Bem vindo(a), {{::window.localStorage.getItem('user')}}</b></h3>
	<h3 class="text-center"><b>Crie sua campanha</b></h3>
	<br>
	<form name="campaignForm">
		<input class="form-control" ng-model="main.campaign.title" placeholder="Título" name="title" ng-required="true">
		<br>
		<textarea class="form-control" ng-model="main.campaign.description" placeholder="Descrição" name="description" ng-required="true"></textarea>
		<br>
		<input class="form-control" ng-model="main.campaign.hashtag" placeholder="Hashtag da campanha (exemplo: #MaisShampooSedoso)"
			name="hashtag" ng-required="true" ng-pattern="/^#\w+$/">
			<br>
			<h5>Itens a serem votados</h5>
			<div ng-repeat="item in main.campaign.items">
				<input class="form-control" ng-model="item.hashtag" placeholder="Hashtag do item (exemplo: #cabeloslisos)"
					name="item-hashtag" ng-required="true" ng-pattern="/^#\w+$/">
				<br>
			</div>
			<button type="button" class="btn btn-default" ng-click="main.newItem(main.campaign)">Novo Item</button>
			<br>
			<br>
	</form>
	<button class="btn btn-primary btn-block" ng-click="main.createCampaign(main.campaign)" ng-disabled="campaignForm.$invalid">Criar campanha</button>
</div>